.hamburger {
  padding: 10px 0 10px 10px;
  outline: none;
  z-index: 30;
  cursor: pointer;
  background: transparent;
  border: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;

  @include media-breakpoint-up(md) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  .hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: var(--accent);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }

  .hamburger-inner::before {
    top: -10px;
  }

  .hamburger-inner::after {
    bottom: -10px;
    width: 20px;
    /* Short bottom line for style */
    right: 0;
  }

  /* Slider Animation */
  &.hamburger--slider .hamburger-inner {
    top: 2px;
  }

  &.hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
  }

  &.hamburger--slider .hamburger-inner::after {
    top: 20px;
  }

  &.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }

  &.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  &.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
    width: 30px;
  }
}